

.logo {  
		
	margin-top:-10em;

	-webkit-animation:logo ease-out 1;  /* call our keyframe named logo, use animattion ease-in and repeat it only 1 time */
	-moz-animation:logo ease-out 1;
	animation:logo ease-out 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1.2s;
	-moz-animation-duration:1.2s;
	animation-duration:1.2s;
}
  		
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes logo{ from { margin-top:-10em; } to { margin-top:0; } }
@-moz-keyframes logo { from { margin-top:-10em; } to { margin-top:0; } }
@keyframes logo{ from { margin-top:-10em; } to { margin-top:0; } }


// .logo {
// -webkit-animation-delay: 0.1s;
// -moz-animation-delay: 0.1s;
// animation-delay: 0.1s;
// }